# Google AdSense
# Get your Publisher ID from https://www.google.com/adsense/
NEXT_PUBLIC_ADSENSE_ID=ca-pub-7030490358552434

# Google Analytics
NEXT_PUBLIC_GA_ID=G-375291723

# MongoDB
# Get your connection string from MongoDB Atlas (https://www.mongodb.com/cloud/atlas)
# Format: mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority
MONGODB_URI=your_mongodb_connection_string_here
